{erl_opts, [debug_info]}.
{deps,
 [{jsone, {git, "https://github.com/sile/jsone", {branch, master}}}
 ]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [imp]}
]}.

{relx, [{release, {imp, "0.1.0"},
         [imp, jsone]},
        {dev_mode, false},
        {include_erts, false},
        {sys_config_src, "config/sys.config.src"},
        {extended_start_script, true}]}.
